@import (reference) "./material/media-queries.less";



.ks-orange {
  background-color: #ff5527
}

.ks-text-orange {
  color: #ff5527;
}

.ks-text-white {
  color:#ffffff;
}

.ks-red {
  background-color: #d32f2f
}



.ks-toolbar {
  // Override toolbar defaults to give 
  // it variable height.
  height: auto;
  min-height:56px;
  @media @device-medium {
    height: auto;
    min-height: 64px;
  }

  // Add icon on the right
  .ks-toolbar-action-add {
    float:right;
    vertical-align: top;
    font-size:32px;
    padding:12px 12px;
    color:white;
  }

  // Search field fills the space.
  .ks-toolbar-search-field {
    display:block;
    box-sizing: border-box;
    width:100%;
    min-height:32px;
    padding-top:11px;
    padding-left:16px;
    margin-right:64px;

    font-size:24px;
    line-height:32px;
    color:white;
  }

}



.ks-list {
  > div {
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
  }

  @media @device-medium {
    padding:0 8px;

    > div {
      max-width:640px;
      margin:8px auto;
      border:0;
      border-radius: 2px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
      z-index:100;
    }
  }
}



.ks-task {
  position: relative;
  padding:8px;
}

.ks-task-nav {
  display:none;
}


/* Hover reveal of task nav on desktop. */
@media @device-large {  
  .ks-task-nav {
    display:block;
    position: absolute;
    top:0;
    right:8px;

    span {
      display:inline-block;
      padding:16px 8px;
      font-size:24px;
      color:white;
      opacity:0;
      cursor:pointer;
    }
  }

  .ks-task:hover .ks-task-nav span {
    opacity:.5;
  }

  .ks-task-nav span:hover {
    opacity:1;
  }
}

.ks-task-value-wrapper {
  box-sizing: border-box;
  width:100%;
  padding-right:100px;
}

.ks-task-value {
  box-sizing: border-box;
  display:block;
  width:100%;
  padding:8px;
  border:0;
  margin:0;

  font-size:16px;
  line-height:24px;

  background:transparent;
  color:white;

  &:focus {
    background-color:white;
    color:#363636;
  }
}

